<div class="sample">
  <div class="column small-4">
    <div class="chart">Chart</div>
  </div>
  <div class="column small-8">
    <!-- <p ng-bind-html="$ctrl.sample.content"></p> -->
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia dignissimos nobis soluta quibusdam, itaque nam deleniti molestiae quo omnis minima totam vel fugit obcaecati, cumque repellendus, vitae praesentium aliquam?</span>
    <span>Blanditiis pariatur numquam nisi aperiam, facilis, reiciendis voluptas dicta debitis error, nostrum praesentium iusto tenetur velit eligendi ad similique quis officiis dolore tempore quibusdam repellendus id sed! Illum, accusantium, atque.</span>
    <span>Neque, ut eos eaque perspiciatis, commodi fugiat sit laudantium unde voluptatum. Mollitia, harum, fuga. Iure consequuntur, debitis nesciunt expedita obcaecati dolorem quos error, aperiam rerum perferendis perspiciatis officiis facere repudiandae.</span>
    <span>Eaque debitis itaque praesentium quibusdam dolore voluptas, vero fuga et! Officiis tempora architecto minus vel maiores obcaecati eos deleniti incidunt voluptas, culpa rem, accusamus consequatur ab labore dignissimos illo soluta!</span>
    <span>Eius quibusdam porro illum harum dolor enim repudiandae quia nisi ut? Obcaecati, enim vel repellat vero accusantium porro. Voluptatem debitis veritatis rem officia nobis hic velit, voluptates laborum ab id.</span>
    <span>Voluptate laboriosam, cumque blanditiis. Nostrum illo minus deserunt, dicta soluta voluptatibus eos consectetur reprehenderit quos consequatur, architecto unde voluptas suscipit aperiam repellendus distinctio magni culpa officia quisquam laborum, rem nesciunt!</span>
    <span>In numquam minus officia ipsum eveniet totam reprehenderit repellendus quo quisquam enim eos saepe sit modi itaque omnis iste eaque necessitatibus, fugit veritatis et hic maiores provident facere sapiente! Repellendus!</span>
    <span>Quae, facilis nostrum ut officia iusto fuga deserunt! Dolores ducimus optio suscipit saepe quo nostrum praesentium tenetur nemo repellat molestias necessitatibus, itaque autem amet, repudiandae, quia laboriosam veritatis porro eius?</span>
    <span>Nisi impedit accusamus sit cum, quo facere, beatae minus totam aliquid sequi! Ipsam, eveniet minus totam, quas in quam, fuga perspiciatis voluptatum vel veritatis blanditiis placeat non culpa voluptates aperiam.</span>
    <span>Maiores deserunt ut ex et, adipisci minima expedita itaque, ipsa nisi, magnam eius laboriosam laborum modi illum delectus quae eos a. Odit quisquam, earum atque tempore fuga! Aliquam, corporis quia.</span></p>
  </div>
</div>